---
layout: default
---

<header class="row">
    <a href="/" class="logo">
        UnderJS
        <span class="emoji">
            <span class="ltr">🦄</span>🎧🦄
        </span>
        Podcast
    </a>
</header>

<section class="guest-info">
  <div>
    <img src="{{page.avatar}}" title="{{page.name}}" alt="{{page.name}}" />
    <aside>
      <h2>{{page.name}}</h2> 
      <h3>{{page.position}}</h3>

      {% if page.twitter %}
      <a href="https://twitter.com/{{page.twitter}}" target="_blank">
        <i class="fa fa-twitter"></i> {{page.twitter}}
      </a>
      {% endif %}

      {% if page.github %}
      <a href="https://github.com/{{page.github}}" target="_blank">
        <i class="fa fa-github"></i> {{page.github}}
      </a>
      {% endif %}

      {% if page.youtube %}
      <a href="https://www.youtube.com/channel/{{page.youtube}}" target="_blank">
        <i class="fa fa-github"></i> youtube
      </a>
      {% endif %}

      {% if page.site %}
      <a href="{{page.site}}" target="_blank">
        <i class="fa fa-home"></i> website
      </a>
      {% endif %}
    </aside>
  </div>
</section>

<div class="container article-wrapper">
    <article class="row flex-column">
        {{ content }}
    </article>

    <h2>Выпуски с гостем:</h2>

    <ul>
        {% for post in site.posts %}
            {% if post.guests contains page.name  %}
            <li>
                <a href="{{ post.url }}">
                    <h3>{{ post.title }}</h3>
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
