---
layout: default
---

<div class="main-header row row-center">
    <div class="flex-column">
        <div class="row row-center">
            <div class="logo">
                UnderJS
                <span class="emoji"><span class="ltr">🦄</span>🎧🦄</span>
                Podcast
            </div>
        </div>
        <div class="row row-center">
            <h1 class="centerized">самый безызвестный подкаст во всем frontend</h1>
        </div>
    </div>
</div>

<div class="row row-center social-links wrappable">
    <a href="/feed.xml" target="_blank">Atom RSS</a>
    ::
    <a href="/itunes.xml" target="_blank">iTunes RSS</a>
    ::
    <a href="https://twitter.com/UnderJs" target="_blank">Twitter</a>
    ::
    <a href="https://vk.com/underjs" target="_blank">VK</a>
    ::
    <a href="https://t.me/uderjs_announcce" target="_blank">Telegram</a>
    ::
    <a href="https://podcasts.apple.com/ru/podcast/underjs-podcast/id1475405773" target="_blank">iTunes</a>
    ::
    <a href="https://www.youtube.com/playlist?list=PL2p_GfZz-_1OWXrKUZRBc8LzMz5FJNXW7" target="_blank">Youtube</a>
    ::
    <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly91bmRlcmpzLnJ1L2l0dW5lcy54bWw%3D" target="_blank">Google</a>
    ::
    <a href="https://music.yandex.ru/album/8291062" target="_blank">Yandex</a>
    ::
    <a href="https://open.spotify.com/show/74qaNRFTVdqZr9HmzWzoLQ?si=nHl8SgvnTveBeWpcVLF9lQ" target="_blank">Spotify</a>
    ::
    <a href="/about/">Об подкасте</a>
    ::
    <a href="/donate/">Поддержать</a>
</div>

<div class="row row-center posts">
    <ul>
        {% for post in site.posts %}
        <li>
            <h2>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
</div>

<img src="nayan-cat.jpg" id="nayan" />

<script>
    var nayan = document.getElementById('nayan');
    var enabled = false;

    nayan.onclick = function(){
        if (enabled) {
            return;
        }

        nayan.className = "nayan-active";
        enabled = true;

        setTimeout(function () {
            nayan.className = "";
            enabled = false;
        }, 8000);
    }
</script>
