---
layout: default
---

<div class="main-header row row-center">
    <div class="logo">
        UnderJS
        <span class="emoji">
            <span class="ltr">🦄</span>🎧🦄
        </span>
        Podcast
    </div>
</div>

<!--<div id="pikachu"></div>-->

<div class="row row-center social-links">
    <a href="/feed.xml" target="_blank">Atom RSS</a>
    ::
    <a href="/itunes.xml" target="_blank">iTunes RSS</a>
    ::
    <a href="https://twitter.com/UnderJs" target="_blank">Twitter</a>
    ::
    <a href="https://vk.com/underjs" target="_blank">VK</a>
    ::
    <a href="https://t.me/uderjs_announcce" target="_blank">Telegram</a>
    ::
    <a href="https://podcasts.apple.com/ru/podcast/underjs-podcast/id1475405773" target="_blank">iTunes</a>
</div>

<div class="row row-center">
    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<img src="nayan-cat.jpg" id="nayan" />

<script>
    var nayan = document.getElementById('nayan');
    var enabled = false;

    nayan.onclick = function(){
        if (enabled) {
            return;
        }

        nayan.className = "nayan-active";
        enabled = true;

        setTimeout(function () {
            nayan.className = "";
            enabled = false;
        }, 8000);
    }
</script>
