---
layout: default
---

<div class="main-header row row-center">
    <div class="flex-column">
        <div class="row row-center">
            <div class="logo">
                UnderJS
                <span class="emoji"><span class="ltr">🦄</span>🎧🦄</span>
                Podcast
            </div>
        </div>
        <div class="row row-center">
            <h1 class="centerized">самый безызвестный подкаст во всём фронтенде</h1>
        </div>
    </div>
</div>

<div class="row row-center social-links wrappable">
    <a href="/listen/">Слушать/Следить</a>
    ::
    <a href="/guests/">Гости</a>
    ::
    <a href="/about/">О подкасте</a>
    ::
    <a href="/donate/">Поддержать</a>
</div>

<div class="row row-center posts">
    <ul>
        {% for post in site.posts %}
        <li>
            <h2>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
</div>

<img src="/assets/images/nyan-cat.gif" id="nyan" />

<div class="recomendations">
  <div class="row row-center">
    <img class="bordered avatar"  src="/assets/images/Matvienko.jpg" alt="Nikolay Matvienko" title="Nikolay Matvienko"/>
  </div>
  <div class="row row-center">
    <p class="quote">I initially didn't listen UnderJS because I thought that I could get all the information from other podcasts. Boy was I wrong! I was also really amazed by the information from each UnderJS episode</p>
  </div>
  <div class="row row-center">
    <p class="author">
      Nikolay Matvienko, Software Engineer at Grid Dynamics
    </p>
  </div>
</div>


<script>
    var nyan = document.getElementById('nyan');
    var enabled = false;

    nyan.onclick = function () {
        if (enabled) {
            return;
        }

        nyan.className = "nyan-active";
        enabled = true;

        setTimeout(function () {
            nyan.className = "";
            enabled = false;
        }, 8000);
    }
</script>
