---
layout: default
---

<header class="row">
    <a href="/" class="logo">
        UnderJS
        <span class="emoji">
            <span class="ltr">🦄</span>🎧🦄
        </span>
        Podcast
    </a>
</header>

<div class="container article-wrapper">
    <article class="row flex-column">
        {% if page.hide_page_title %}
        {% else %}
            <h1 style="margin-bottom: 5px;">
                {{ page.title }}
            </h1>
        {% endif %}

        {{ content }}
    </article>
</div>
